@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

progress[value]::-webkit-progress-bar,
progress[value]::-webkit-progress-value {
  border-radius: 0;
}

progress[value]::-moz-progress-bar {
  border-radius: 0;
}

progress {
  border-radius: 0;
}
